// Single property gallery section
// --------------------------------
.property__gallery {
    position: relative;

    .owl-nav {
        display: none;
        bottom: auto;

        @include min-screen($desktop) {
            display: block;
            top: 50vh;
        }

        div {
            padding: 10px 15px 15px;
            font-size: rem-calc(70);
            line-height: 1;
            text-align: center;
        }
    }
}

.property__gallery-big-image {
    width: 100%;
    margin-bottom: -4px;
}

.property__gallery-slider {
    display: none; // FIXME: find out what to do on mobile
    position: absolute;
    top: 12%;
    right: 0;
    width: 100px;
    padding: 10px 6px;
    background-color: transparentize($black, .3);
    text-align: center;
    z-index: 5;

    @include min-screen($desktop) {
        display: block;
    }

    img {
        width: 100%;
        transition: border-color $standard-animation-time ease;
        border: 3px solid transparent;
        cursor: pointer;

        .is-desktop &:hover {
            border-color: $color-primary;
        }
    }
}

.property__gallery-switcher {
    position: relative;
    margin: 0 auto;
    transition: opacity $standard-animation-time ease;
    opacity: .6;

    &.up {
        @include css-triangle(9px, $white, up);
        margin-bottom: 5px;
    }

    &.down {
        @include css-triangle(9px, $white, down);
        margin-top: 5px;
    }

    .is-desktop &:hover {
        opacity: 1;
    }
}
