// Single property navigation styles
// ---------------------------------
.property__nav {
    position: relative;
    padding: 10px 15px;
    background-color: $property-nav-bg;
    text-align: center;
    z-index: 10;

    @include min-screen($desktop) {
        height: $property-nav-height;
        margin-top: -$property-nav-height;
        padding: 10px 50px 0;
    }

    .property__buttons {
        margin-top: 0;

        @include min-screen($tablet) {
            @include vertical-align(absolute);
            margin: 0;
        }
    }
}

.nav__secondary {
    margin-bottom: 20px;
    font-size: rem-calc(10);
    text-transform: uppercase;

    @include min-screen($tablet-small) {
        margin-bottom: 20px;
    }

    @include min-screen($desktop) {
        margin-bottom: 30px;
    }

    .select__item {
        &:not(:first-of-type) {
            @include min-screen($tablet) {
                padding-left: 10px;
            }
        }
    }
}

.footer__nav {
    padding: 35px 0 0 35px;
    list-style: none;
    text-transform: uppercase;
    column-count: 2;
    column-gap: 30px;

    a {
        display: inline-block;
        position: relative;
        padding: 10px 0;
        color: $footer-color;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 100%;
            height: 1px;
            background: $color-primary;
            transition: all $standard-animation-time ease-in-out;
        }

        &:hover {
            &:after {
                right: 0;
            }
        }
    }
}

.secondary-footer__nav {
    margin: 0;
    padding: 0 0 0 35px;
    list-style: none;

    > li {
        display: inline-block;

        a {
            color: $footer-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:before {
            content: '|';
            padding: 6px;
        }

        &:first-of-type {
            &:before {
                display: none;
            }
        }
    }
}
