// Canvas magazine styles
// -----------------------
.canvas__header {
    @include min-screen($tablet) {
        margin: 50px 0 0;
    }

    @include min-screen($desktop) {
        margin: 80px 0;
    }
}

.canvas__title-img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    pointer-events: none;
}

.canvas__title-img--small {

    @include min-screen($desktop) {
        display: block;
        max-width: 55%;
        margin: 0 0 10px 10px;
    }
}

.canvas__header-link {
    display: block;
    text-align: center;
}

.canvas__logo {
    display: none;
    width: 100%;
    max-height: 0;
    transition: 2 * $standard-animation-time max-height $standard-animation-time ease-in-out,
                opacity 2 * $standard-animation-time ease-in-out;
    opacity: 0;
    overflow: hidden;

    @include min-screen($desktop) {
        display: block;
    }

    &.is-visible {
        max-height: 100px;
        transition: max-height 2 * $standard-animation-time ease-in-out,
                    2 * $standard-animation-time opacity $standard-animation-time ease-in-out;
        opacity: 1;
    }
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
