// Canvas magazine page navigations
// ---------------------------------
.canvas__navigation {
    margin-bottom: 40px;

    @include min-screen($desktop) {
        margin: 0;
    }
}

.canvas__categories-menu {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;

    @include min-screen($tablet) {
        margin-top: 40px;
    }

    @include min-screen($desktop) {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding-left: 7px;
        text-align: left;
    }

    li {
        @include min-screen($tablet) {
            display: inline-block;
        }

        @include min-screen($desktop) {
            display: block;
        }
    }
}

.canvas__categories-item {
    margin: 10px 0;
    padding-left: 16px;

    a {
        color: $black;
        font-family: $font-book;
        font-size: rem-calc(14);
        text-decoration: none;
        text-transform: uppercase;
    }
}
