@font-face {
    font-family: 'FuturaMedium';
    src: url('../fonts/FuturaStd-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/FuturaStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaHeavy';
    src: url('../fonts/FuturaStd-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaBold';
    src: url('../fonts/FuturaStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Caslon';
    src: url('../fonts/CaslonPro.ttf') format('truetype');
}

@font-face {
    font-family: 'spacestation';
    src: url('../fonts/spacestation.eot?ow93db');
    src: url('../fonts/spacestation.eot?ow93db#iefix') format('embedded-opentype'),
        url('../fonts/spacestation.ttf?ow93db') format('truetype'),
        url('../fonts/spacestation.woff?ow93db') format('woff'),
        url('../fonts/spacestation.svg?ow93db#spacestation') format('svg');
    font-weight: normal;
    font-style: normal;
}
