
@font-face {
    font-family: 'FuturaMedium';
    src: url('../fonts/FuturaStd-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaBook';
    src: url('../fonts/FuturaStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts/FuturaStd-Light.otf') format('opentype');
}
