$global-font-size: 100% !default;
$base-font-family: 'FuturaBook';


// Colors
// ----------
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;

$color-primary: #a17f30;

// Globals
// ----------
$body-bg-color: $gray;


// Navigation
// -----------
$nav-bg-color: $black;
$brand-link-color: $white;
