$global-font-size: 100% !default;
$base-font-family: 'FuturaBook';
$secondary-font-family: 'FuturaLight';


// Colors
// ----------
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;
$dark-gray: #999999;
$white-transparent: rgba($white, .7);

$color-primary: #a17f30;

// Globals
// ----------
$body-bg-color: $gray;

// Buttons
// ----------
$btn-font-size: 9px;
$btn-primary-padding: 12px 8px 10px;
$btn-primary-font: 'FuturaLight';
$btn-primary-font-color: #545454;
$btn-primary-border-color: #c3c3c3;

// Navigation
// -----------
$nav-height: 50px;
$nav-bg-color: $black;
$brand-link-color: #d0d0d0;
$brand-link-size: rem-calc(12);
$menu-link-color: $dark-gray;
$menu-link-color-hover: $white;
$submenu-link-color: $dark-gray;
$submenu-link-color-hover: $black;

// Animations
// ----------
$standard-animation-time: 300ms;
$mobile-menu-up-animation: 500ms;
$mobile-menu-down-animation: 2s;
$sub-menu-up-animation: 300ms;
$sub-menu-down-animation: 1s;

// Homepage moving box
// -------------------
$moving-box-size: 246px;
$moving-box-border-width: 11px;
$moving-box-border-color: $color-primary;
$moving-box-bg-color: $white-transparent;
$moving-box-ratio: 30px;
$moving-box-show-time: 1000ms;
$moving-box-move-time: 700ms;
$moving-box-move-delay: 100ms;
$moving-box-title-size: rem-calc(22);
$moving-box-title-letterspacing: 2px;
$moving-box-text-size: rem-calc(11);
$moving-box-text-font: $secondary-font-family;
