$global-font-size: 100% !default;
$base-font-family: 'FuturaBook';
$secondary-font-family: 'FuturaLight';

// Fonts
// ----------
$font-light: 'FuturaLight';
$font-book: 'FuturaBook';
$font-medium: 'FuturaMedium';
$font-heavy: 'FuturaHeavy';
$font-bold: 'FuturaBold';
$font-caslon: 'Caslon';
$font-icons: 'spacestation';

// Colors
// ----------
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;
$dark-gray: #999999;
$mid-gray: #d0d0d0;
$white-transparent: rgba($white, .7);
$purple: #4a0036;

$color-primary: #a37a09;

// Globals
// ----------
$body-bg-color: $gray;
$container-width: 1024px;
$container-padding: 0 20px;

// Buttons
// ----------
$btn-play-bg: $color-primary;
$btn-play-bg-hover: lighten($btn-play-bg, 5%);

// Primary
$btn-font-size: rem-calc(9);
$btn-primary-padding: 12px 8px 10px;
$btn-primary-font: $font-light;
$btn-primary-font-color: $black;
$btn-primary-border-color: #c3c3c3;
$btn-primary-border-hover: #a37a09;

// Action
$btn-action-color: $black;
$btn-action-bg: $white;
$btn-action-font: $font-book;
$btn-action-font-size: rem-calc(12);
$btn-action-border: 1px solid $black;

// Navigation
// -----------
$nav-height: 50px;
$nav-bg-color: $black;
$brand-link-color: $mid-gray;
$brand-link-size: rem-calc(12);
$menu-link-color: $dark-gray;
$menu-link-color-hover: $white;
$submenu-link-color: $dark-gray;
$submenu-link-color-hover: $black;
$submenu-bg-color: rgba($white, .9);

// Animations
// ----------
$standard-animation-time: 300ms;
$mobile-menu-up-animation: 500ms;
$mobile-menu-down-animation: 2s;
$sub-menu-up-animation: 300ms;
$sub-menu-down-animation: 1s;
$dropdown-animation: 750ms;
$canvas-nav-animation: 500ms cubic-bezier(.57, .31, .19, .93);

// Homepage moving box
// -------------------
$moving-box-size: 246px;
$moving-box-border-width: 11px;
$moving-box-border-color: $color-primary;
$moving-box-bg-color: $white-transparent;
$moving-box-ratio: 30px;
$moving-box-show-time: 1000ms;
$moving-box-move-time: 700ms;
$moving-box-move-delay: 100ms;
$moving-box-title-size: rem-calc(22);
$moving-box-title-letterspacing: 2px;
$moving-box-text-size: rem-calc(11);
$moving-box-text-font: $secondary-font-family;

// Case studies
// ---------------------
$case-study-category-size: rem-calc(14);
$case-study-category-color: $color-primary;
$case-study-title-size: 30;
$case-study-title-font: $font-heavy;
$case-study-description-size: rem-calc(14);

// Sections
// ------------
$section-title-size-mobile: rem-calc(24);
$section-title-size-desktop: rem-calc(30);
$section-title-font: $font-heavy;
$section-subtitle-size: rem-calc(14);
$section-subtitle-font: $font-book;
$section-animation-transition: transform 450ms ease-out, opacity 800ms ease;
$section-animation-transform: translateY(175);

// Masonry grid
// ---------------
$masonry-tile-link-cta: $purple;
$masonry-tile-link-bg: #86754d;
$masonry-animation-function: cubic-bezier(.23, 1, .32, 1);
$masonry-animation-transition: transform 2s $masonry-animation-function;
$masonry-animation-transform: scale(1.05);
$masonry-title-size: rem-calc(16);
$masonry-title-font: $font-heavy;
$masonry-price-size: rem-calc(14);
$masonry-price-font: $font-heavy;
$masonry-desc-small-size: rem-calc(12);
$masonry-desc-big-size: $masonry-price-size;
$masonry-desc-big-font: $font-light;
$masonry-arrow-width: 35px;
$masonry-arrow-height: 20px;
$masonry-arrow-color: $white;
$masonry-arrow-desk-ratio: 1.3;
$masonry-border-ratio: 25px;

// Search page
// --------------
$tab-head-font: $font-bold;
$tab-head-font-size: rem-calc(12);
$tab-head-bg: $black;
$tab-head-color: #b2b2b2;
$tab-head-bg-active: $white;
$tab-head-bg-color-active: $black;
$single-result-space-ratio: 21px;
$search-form-space-ratio: 14px;
$search-form-font-size: rem-calc(13);

// View navigation
// ----------------
$dropdown-bg: $white-transparent;

// View navigation
// ----------------
$view-item-color: #adaba5;

// Footer
// ------
$footer-bg-color: $black;

// Inputs
// --------
$input-bg-color: #c9cacc;
$input-font-color: #9fa0a2;
$input-checkbox-border: #bbb9b5;

// Single property
// ----------------
$property-body-bg: #acacac;
$property-nav-bg: $white-transparent;
$property-nav-height: 50px;
$property-title-font: $font-heavy;
$property-title-font-size: rem-calc(22);
$property-title-letterspacing: 2px;
$property-price-font-size: rem-calc(16);
$property-type-font: $font-light;
$property-type-font-size: $property-price-font-size;
$property-desc-font: $font-light;
$property-desc-font-size: rem-calc(14);

// Overlay
// --------
$overlay-content-bg: $gray;
$overlay-bg: rgba($black, .4);

// Single canvas post on category page
// ------------------------------------
$single-post-border-color: #646464;
