// Buttons
// -------
.btn {
    display: inline-block;
    padding: rem-calc(14);
    transition: all $standard-animation-time ease-in-out;
    border-radius: 0;
    outline: 0;
    font-family: $base-font-family;
    font-size: rem-calc($btn-font-size);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        transition: all $standard-animation-time ease-in-out;
        text-decoration: none;
    }
}

.btn--primary {
    padding: $btn-primary-padding;
    border: 1px solid $btn-primary-border-color;
    color: $btn-primary-font-color;
    font-family: $btn-primary-font;
    text-transform: uppercase;

    &:hover {
        border-color: $btn-primary-border-hover;
    }
}

.btn--submit {
    padding: 8px 12px 7px;
    border: 0;
    outline: 0;
    background-color: $black;
    color: $white;
    font-family: $font-medium;
    font-size: rem-calc(12);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        background-color: $color-primary;
    }
}

.btn--switcher {
    min-width: 130px;
    padding: 8px 20px 6px;
    transition: all $standard-animation-time ease;
    border: 1px solid transparent;
    background-color: transparent;
    font-family: $font-light;
    font-size: rem-calc(9);
    letter-spacing: .2em;
    text-transform: uppercase;

    &:hover,
    &.active {
        border-color: $color-primary;
        color: $color-primary;
        font-weight: bold;
    }
}

.btn--play {
    @include center-align();
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: $btn-play-bg;
    font-size: 0;
    cursor: pointer;

    &:hover {
        background-color: $btn-play-bg-hover;
    }

    &::after {
        @include css-triangle(10px, $white, right);
        @include center-align();
        content: '';
    }
}

.btn--action {
    min-width: 50px;
    padding: 7px 20px 5px;
    border: $btn-action-border;
    background-color: $btn-action-bg;
    color: $btn-action-color;
    font-family: $btn-action-font;
    font-size: $btn-action-font-size;
    text-transform: uppercase;

    @include min-screen($desktop) {
        &:hover {
            background-color: darken($btn-action-bg, 15%);
        }
    }
}

.btn--action--awarded {
    border-color: transparent;
    background-color: $color-primary;
    color: $white;

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}
