// Case studies styles
// --------------------
.case-study__info {
    padding: 10px 0;

    @include min-screen($desktop) {
        padding: 10px 20px 10px 0;
    }
}

.case-study__description {
    margin-bottom: 35px;
    font-family: $font-light;
    font-size: $case-study-description-size;
    line-height: 1.8;

    strong {
        font-family: $font-heavy;
    }

    p {
        margin: 0;
    }
}

.case-study__thumbnail {
    display: block;
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    &.is-video {
        .btn {
            display: block;
        }
    }

    .btn {
        display: none;
    }
}

.case-study__video {
    width: 100%;
    max-width: 100%;
    transition: opacity 1s ease;
    opacity: 0;

    @include min-screen($desktop) {
        max-width: 90%;
        height: 460px;
        max-height: 460px;
    }

    &.visible {
        opacity: 1;
    }
}

.case-studies__bg {
    @include background-cover('about_us_background_mobile.jpg');
    padding: 40px 0;
    background-repeat: repeat-y;
    background-size: contain;

    @include min-screen($tablet) {
        @include background-cover('casestudies_background_tablet.jpg');
    }


    @include min-screen($desktop) {
        @include background-cover('casestudies_background.jpg');
        padding: 70px 0;
    }
}
