// Case studies styles
// --------------------
.case-study__info {
    padding: 10px 0;

    @include min-screen($desktop) {
        padding: 10px 20px 10px 0;
    }
}

.case-study__description {
    margin-bottom: 35px;
    font-family: $font-light;
    font-size: $case-study-description-size;
    line-height: 1.8;

    strong {
        font-family: $font-heavy;
    }

    p {
        margin: 0;
    }
}

.case-study__thumbnail {
    display: block;
    position: relative;
    padding: 20px;
    box-sizing: border-box;

    &.is-video {
        .btn {
            display: block;
        }
    }

    .btn {
        display: none;
    }
}

.case-study__video {
    width: 100%;
    max-width: 100%;
}
