// Case studies styles
// --------------------
.case-study__info {
    padding: 10px 0;

    @include min-screen($desktop) {
        padding: 10px 30px 10px 20px;
    }
}

.case-study__description {
    margin-bottom: 35px;
    font-family: $font-light;
    font-size: $case-study-description-size;
    line-height: 1.8;

    strong {
        font-family: $font-heavy;
    }

    p {
        margin: 0;
    }
}

.case-study__thumbnail--video {
    position: relative;

    &::after {
        @include center-align();
        content: url('../images/play_icon.png');
        display: block;
        cursor: pointer;
    }
}
