// Cookies info bar
// -----------------
.cookies-info {
    position: fixed;
    top: -$cookies-height-mobile;
    right: 0;
    left: 0;
    width: 100%;
    height: $cookies-height-mobile;
    transition: top $standard-animation-time ease;
    outline: 0;
    background-color: $cookies-bg-color;
    cursor: pointer;
    z-index: 150;

    @include min-screen($tablet) {
        top: -$cookies-height-tablet;
        height: $cookies-height-tablet;
    }

    @include min-screen($desktop) {
        top: -$cookies-height-desktop;
        height: $cookies-height-desktop;
    }

    &.active {
        top: 0;
    }
}

.cookies-info__body {
    @include vertical-align();
    margin: 0;
    padding: 0 50px 0 15px;
    color: $white;
    font-family: $font-book;
    font-size: rem-calc(12);
    letter-spacing: .02em;
    line-height: 1.3;

    @include min-screen($tablet) {
        padding: 0 60px 0 15px;
    }

    @include min-screen($desktop) {
        padding: 0 100px 0 15px;
        text-align: right;
    }

    a {
        color: $black;
        font-family: $font-heavy;
        letter-spacing: .03em;
    }
}

.cookies-info__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: (($cookies-height-mobile / 2) - 10) 20px;
    color: $white;
    font-size: rem-calc(16);
    cursor: pointer;

    @include min-screen($tablet) {
        top: 7px;
        padding: 10px 20px 10px 30px;
    }

    @include min-screen($desktop) {
        top: 1px;
        padding: 10px 48px 10px 40px;
    }
}
