// Title styles
// --------------------
.title--main {
    margin: 0;
    color: $color-primary;
    font-family: $font-caslon;
    font-size: rem-calc(14);
    font-style: italic;
}

.title--default {
    display: inline-block;
    font-family: $font-bold;
    font-size: rem-calc(16);
    text-transform: uppercase;

    @include min-screen($tablet) {
        font-size: rem-calc(17);
    }

    @include min-screen($desktop) {
        font-size: rem-calc(18);
    }
}



// Headline styles
// --------------------
%headline-default {
    margin-top: 16px;
    font-family: $case-study-title-font;
    font-size: rem-calc($case-study-title-size * .7);
    letter-spacing: 3px;
    text-transform: uppercase;

    @include min-screen($tablet) {
        font-size: rem-calc($case-study-title-size * .85);
    }

    @include min-screen($desktop) {
        font-size: rem-calc($case-study-title-size);
    }

    a {
        color: $black;
        text-decoration: none;
    }
}

.headline--main {
    margin: .8em 0 1.2em;
    font-family: $font-light;
    font-size: rem-calc($case-study-title-size * .7);
    letter-spacing: $moving-box-title-letterspacing;
    text-transform: uppercase;

    @include min-screen($tablet) {
        font-size: rem-calc($case-study-title-size * .85);
    }

    @include min-screen($desktop) {
        font-size: rem-calc($case-study-title-size);
    }

    strong {
        display: block;
        font-family: $case-study-title-font;
    }
}

.headline--default {
    @extend %headline-default;
}

.headline--small {
    margin: 0 auto;
    font-family: $masonry-title-font;
    font-size: rem-calc(14);
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;

    @include min-screen($desktop) {
        font-size: rem-calc(18);
    }
}

.headline--middle {
    @extend %headline-default;
    font-size: rem-calc($case-study-title-size * .6);

    @include min-screen($tablet) {
        font-size: rem-calc($case-study-title-size * .7);
    }

    @include min-screen($desktop) {
        font-size: rem-calc($case-study-title-size * .75);
    }
}

.headline--small-space {
    margin: .5em 0;
}
