// Hubspot form, in stay in touch section
// --------------------------------------
.hbspt-form {
    margin-top: 10px;

    fieldset {
        max-width: 100% !important;

        @include min-screen($tablet) {
            max-width: 600px !important;
        }
    }
}

.form-columns-2 {
    width: 100% !important;

    input {
        display: block;
        width: 100% !important;
        min-height: 30px;
        padding: 6px 13px;
        border: 0;
        border-radius: 0;
        outline: 0;
        color: $black;
        font-family: $font-book;
        font-size: rem-calc(12);
        letter-spacing: 1.7px;
        line-height: 1;
        text-align: center;
        text-transform: lowercase;
        -webkit-appearance: none;

        @include min-screen($tablet) {
            text-align: left;
        }

        @include placeholder {
            padding-top: 2px;
        };
    }

    .input {
        margin-right: 0 !important;
    }
}

.hs-form-field {
    width: 100% !important;
    margin-bottom: 10px;

    > label {
        display: none;
    }

    @include min-screen($tablet) {
        width: calc(50% - 6px) !important;
        margin-right: 6px;
        margin-bottom: 0;
    }
}

.hs_submit,
.form-columns-2 {
    display: block;
    vertical-align: top;

    @include min-screen($tablet) {
        display: inline-block;
    }
}

.hs_submit {
    clear: both;
}

.hs-button {
    @extend .btn;
    @extend .btn--submit;
    width: 100%;
    min-height: 30px;

    @include min-screen($tablet) {
        width: auto;
    }

    .the-next-step & {
        border: 1px solid $white;

        @include min-screen($tablet) {
            background-color: $white;
            color: $black;
        }

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}

.hs-error-msgs {
    padding: 0;
    list-style-type: none;

    label {
        font-size: rem-calc(12);
    }
}
