// Hubspot form, in stay in touch section
// --------------------------------------
.hbspt-form {
    margin-top: 10px;

    fieldset {
        max-width: 600px !important;
    }
}

.form-columns-2 {
    width: 100% !important;

    input {
        display: block;
        width: 100% !important;
        padding: 6px 13px;
        border: 0;
        border-radius: 0;
        outline: 0;
        color: $black;
        font-family: $font-book;
        font-size: rem-calc(12);
        letter-spacing: 1.7px;
        line-height: 1;
        text-align: center;
        text-transform: lowercase;
        -webkit-appearance: none;

        @include min-screen($tablet) {
            text-align: left;
        }

        @include placeholder {
            padding-top: 2px;
        };
    }

    .input {
        margin-right: 0 !important;
    }
}

.hs-form-field {
    width: 100% !important;
    margin-bottom: 10px;

    > label {
        display: none;
    }

    @include min-screen($tablet) {
        width: calc(50% - 6px) !important;
        margin-right: 6px;
        margin-bottom: 0;
    }
}

.hs_submit,
.form-columns-2 {
    display: inline-block;
    vertical-align: top;
}

.hs_submit {
    clear: both;
}

.hs-button {
    @extend .btn;
    @extend .btn--submit;
}

.hs-error-msgs {
    padding: 0;
    list-style-type: none;

    label {
        font-size: rem-calc(12);
    }
}
