// Icons
// ------
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'spacestation';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notice::before {
    content: '\e903';
}

.icon-target::before {
    content: '\e900';
}

.icon-arrow-up::before {
    content: '\e901';
}

.icon-arrow-down::before {
    content: '\e902';
}

.icon-heart::before {
    content: '\e904';
}

.icon-twitter::before {
    content: '\e905';
}

.icon-facebook::before {
    content: '\e906';
}

.icon-pinterest::before {
    content: '\e907';
}

.icon-email::before {
    content: '\e908';
}

.icon-linkedin::before {
    content: '\e909';
}

.icon-instagram::before {
    content: '\e90a';
}

.icon-cancel::before {
    content: '\e90d';
}

.icon-vimeo::before {
    content: '\e90c';
}


[class^="demo-icon icon-"],
[class*="demo-icon icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fast_facts';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ff_architect__c:before { content: '\e801'; } 
.icon-ff_award__c:before { content: '\e802'; } 
.icon-ff_balcony__c:before { content: '\e803'; } 
.icon-ff_basement__c:before { content: '\e804'; } 
.icon-ff_blue_plaque__c:before { content: '\e805'; }
.icon-ff_bottle__c:before { content: '\e806'; } 
.icon-ff_brick__c:before { content: '\e807'; }
.icon-ff_concierge__c:before { content: '\e80d'; } 
.icon-ff_elephant__c:before { content: '\e810'; } 
.icon-ff_extension__c:before { content: '\e811'; } 
.icon-ff_factory__c:before { content: '\e812'; } 
.icon-ff_fireplace__c:before { content: '\e813'; }
.icon-ff_high_specification__c:before { content: '\e814'; }
.icon-ff_gym__c:before { content: '\e815'; }
.icon-ff_listed_grade_ii__c:before { content: '\e816'; } 
.icon-ff_listed_grade_i__c:before { content: '\e817'; }
.icon-ff_garden__c:before { content: '\e818'; } 
.icon-ff_history__c:before { content: '\e819'; } 
.icon-ff_hot_tap__c:before { content: '\e81a'; } 
.icon-ff_lateral_space__c:before { content: '\e81b'; } 
.icon-ff_library__c:before { content: '\e81c'; } 
.icon-ff_lift__c:before { content: '\e81d'; } 
.icon-ff_light__c:before { content: '\e81e'; } 
.icon-ff_map__c:before { content: '\e81f'; } 
.icon-ff_mews__c:before { content: '\e820'; } 
.icon-ff_mezzanine__c:before { content: '\e821'; } 
.icon-ff_parking__c:before { content: '\e822'; } 
.icon-ff_penthouse__c:before { content: '\e823'; } 
.icon-ff_planning__c:before { content: '\e824'; } 
.icon-ff_pool__c:before { content: '\e825'; } 
.icon-ff_refurbished__c:before { content: '\e826'; } 
.icon-ff_roof_terrace__c:before { content: '\e827'; } 
.icon-ff_school__c:before { content: '\e828'; } 
.icon-ff_security__c:before { content: '\e829'; } 
.icon-ff_solar__c:before { content: '\e82a'; } 
.icon-ff_sound_system__c:before { content: '\e82b'; } 
.icon-ff_south_facing__c:before { content: '\e82c'; } 
.icon-ff_stairs__c:before { content: '\e82d'; } 
.icon-ff_townhouse__c:before { content: '\e82e'; } 
.icon-ff_tube__c:before { content: '\e82f'; } 
.icon-ff_underfloor_heating__c:before { content: '\e830'; } 
.icon-ff_view__c:before { content: '\e831'; } 
.icon-ff_warehouse__c:before { content: '\e832'; } 
.icon-ff_windows__c:before { content: '\e833'; } 
.icon-ff_wine_cellar__c:before { content: '\e834'; } 
.icon-ff_wooden_floors__c:before { content: '\e835'; } 
.icon-ff_aircon__c:before { content: '\e836'; } 
.icon-ff_built__c:before { content: '\e837'; } 
.icon-ff_cinema__c:before { content: '\e838'; } 
.icon-ff_celings__c:before { content: '\e839'; } 
.icon-ff_champagne__c:before { content: '\e83a'; } 
.icon-ff_desiner__c:before { content: '\e83b'; } 
.icon-ff_church__c:before { content: '\e83c'; } 
.icon-ff_eco__c:before { content: '\e83d'; } 


