// Icons
// ------
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'spacestation';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notice::before {
    content: '\e903';
}

.icon-target::before {
    content: '\e900';
}

.icon-arrow-up::before {
    content: '\e901';
}

.icon-arrow-down::before {
    content: '\e902';
}

.icon-heart::before {
    content: '\e904';
}

.icon-twitter::before {
    content: '\e905';
}

.icon-facebook::before {
    content: '\e906';
}

.icon-pinterest::before {
    content: '\e907';
}

.icon-email::before {
    content: '\e908';
}
