// Inputs
// -------
.input-search {
    display: block;
    width: 100%;
    margin-bottom: $search-form-space-ratio;
    padding: 8px 10px 4px;
    border: 0;
    outline: 0;
    background-color: $input-bg-color;
    font-family: $font-light;
    font-size: $search-form-font-size;
    box-sizing: border-box;

    @include placeholder() {
        text-transform: uppercase;
    };
}

input[type=search] {
    box-sizing: border-box;
}

// Input container
.input-container {
    @include min-screen($desktop) {
        padding-right: $search-form-space-ratio;
    }
}

.input-container--right {
    @include min-screen($desktop) {
        padding-right: $search-form-space-ratio / 2;
    }
}

.input-container--left {
    @include min-screen($desktop) {
        padding-left: $search-form-space-ratio / 2;
    }
}

.input-icon {
    position: relative;

    &::after {
        content: '\e900';
        position: absolute;
        top: 6px;
        right: 7px;
        color: $input-font-color;
        font-family: $font-icons;
        pointer-events: none;

        @include min-screen($desktop) {
            right: 22px;
        }
    }
}


// Submit section
.search-form__submit {
    margin-top: 15px;
}


// Label & checboxes
.search-form__labels {
    padding-top: 5px;
    font-family: $font-book;
    font-size: $search-form-font-size;
    font-weight: bold;
    text-transform: uppercase;

    label {
        margin-left: 15px;
        cursor: pointer;
    }
}

.input-checkbox {
    @include square(12px);
    display: inline-block;
    position: relative;
    transition: background $standard-animation-time ease;
    border: 2px solid $black;
    border-radius: 50%;
    outline: 0;
    background-color: $white;
    cursor: pointer;
    vertical-align: text-top;
    -webkit-appearance: none;

    &:hover {
        background-color: rgba($black, .2);
    }
}

.input-checkbox:active,
.input-checkbox:checked:active,
.input-checkbox:checked {
    background-color: $color-primary;
}

// Gravity forms
// --------------
.form-default_wrapper {
    margin: 0 !important;

    input[type=text],
    input[type=tel],
    input[type=email] {
        @extend .input-search;
        width: 100% !important;
    }

    textarea {
        width: 99% !important;
        outline: 0;
        border: 0;
        background-color: $input-bg-color;
    }

    #gform_submit_button_1 {
        @extend .btn;
        @extend .btn--submit;
    }

    .gfield_checkbox {
        label {
            display: inline-block !important;
            margin-left: 10px !important;
            color: $black;
            font-family: $font-caslon;
            font-weight: bold;
            vertical-align: text-top !important;
        }

        input {
            @include square(14px);
            display: inline-block;
            position: relative;
            transition: background $standard-animation-time ease;
            outline: 0;
        }

        a {
            color: $black;
        }
    }

    .privacy-policy > label {
        display: none !important;
    }
}

.gfield_label {
    font-family: $font-light;
    font-size: rem-calc(12);
    letter-spacing: .2em;
    text-transform: uppercase;
}

.gravity-field {
    @include max-screen($desktop) {
        display: block !important;
        width: 100% !important;
        clear: both !important;
    }
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    border: 0 !important;
}

.gfield_description.validation_message {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.validation_error {
    display: none;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
    @include max-screen($desktop) {
        min-width: 100% !important;

        > div {
            max-width: 100% !important;
        }
    }

    > div {
        margin: 0 !important;        
    }
}
