// Inputs
// -------
.input-search {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 3px 10px;
    border: 0;
    outline: 0;
    background-color: $input-bg-color;
    box-sizing: border-box;

    @include placeholder() {
        font-size: rem-calc(9);
        text-transform: uppercase;
    };
}

input[type=search] {
    box-sizing: border-box;
}

.select2-container {
    width: 100% !important;
    margin-bottom: 15px;
    outline: 0;
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-radius: 0;
    background-color: $input-bg-color;
}
