// Variety of links styles
// ------------------------
.link--italic {
    padding: 0 20px;
    color: $black;
    font-family: $font-caslon;
    font-size: rem-calc(14);
    font-style: italic;
    text-decoration: none;
    vertical-align: text-top;
}

.link--text {
    color: $black;
    font-family: $font-medium;
    font-size: rem-calc(12);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}

.link--standard {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.link--back {
    &::before {
        content: '<';
        display: inline-block;
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
}

// Used on index lists, eg. adress book
.link--image {
    overflow: hidden;

    @include min-screen($desktop) {
        max-height: 135px;
    }
}
