// Main banner
// ------------
.main-banner {
    @include background-cover('banner-placeholder.jpg'); // TODO: temporary solution. here will be video
    position: relative;
    height: calc(100vh - #{$nav-height});
    margin-bottom: 150px;
}
