// Map styles
// -----------
.gm-style-iw {
    width: 350px !important;
    top: 17px !important;
    left: 25px !important;
    border-radius: 2px 2px 0 0;
}

.gm-close-btn {
    top: 17px !important;
    right: 28px !important;
}

.gm-wrapper {
    display: none;
    pointer-events: none;
}
