// Masonry grid styles. Basically on homepage
// ------------------------------------------
.masonry__item {
    position: relative;
    height: 0;
}

.masonry__item--rectangular {
    padding-bottom: 50%;
}

.masonry__item--square {
    padding-bottom: 100%;
}

.masonry__tile--center {
    padding: 10px 0 10px 20px;

    @include min-screen($desktop) {
        padding: 15% 0 15% 30px;
    }
}

.masonry__tile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.masonry__tile-info {
    @include center-align();
    width: 100%;
}

.masonry__link {
    display: block;
    color: $black;
}

.masonry__tile--white {
    background-color: $white;
    text-align: center;
}

.masonry__tile-arrow {
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 35px;
        width: 0;
        height: 0;
        border-style: solid;
    }
}

.masonry__tile-arrow--right {
    &::after {
        left: 100%;
        border-width: $masonry-arrow-height $masonry-arrow-width 0 0;
        border-color: $masonry-arrow-color transparent transparent;

        @include min-screen($desktop) {
            border-width: ($masonry-arrow-height * $masonry-arrow-desk-ratio) ($masonry-arrow-width * $masonry-arrow-desk-ratio) 0 0;
        }
    }
}


.masonry__tile-arrow--left {
    &::after {
        right: 100%;
        border-width: 0 0 $masonry-arrow-height $masonry-arrow-width;
        border-color: transparent transparent $masonry-arrow-color;

        @include min-screen($desktop) {
            border-width: 0 0 ($masonry-arrow-height * $masonry-arrow-desk-ratio) ($masonry-arrow-width * $masonry-arrow-desk-ratio);
        }
    }
}

.masonry__tile-category {
    font-family: $font-caslon;
    font-size: $case-study-category-size;
    font-style: italic;

    span {
        color: $color-primary;
    }
}

.masonry__tile-title {
    width: 95%;
    margin: 0 auto;
    font-family: $masonry-title-font;
    font-size: rem-calc(14);
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;

    @include min-screen($desktop) {
        width: 80%;
        font-size: $masonry-title-size;
    }
}

.masonry__tile-price {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: $masonry-price-font;
    font-size: rem-calc(12);

    @include min-screen($desktop) {
        margin-top: 1em;
        font-size: $masonry-price-size;
    }

    &::before {
        content: '£';
    }
}

.masonry__tile-desc {
    margin: 0 auto;

    @include min-screen($desktop) {
        width: 90%;
    }
}

.masonry__tile-desc--small {
    margin-top: 12px;
    font-size: $masonry-desc-small-size;
    line-height: 1.65;

    @include min-screen($desktop) {
        margin-top: 20px;
    }
}

.masonry__tile-desc--big {
    width: 80%;
    margin-top: 5px;
    font-family: $masonry-desc-big-font;
    font-size: rem-calc(12);
    line-height: 1.5;
    text-transform: uppercase;

    @include min-screen($desktop) {
        font-size: $masonry-desc-big-size;
    }
}

.masonry__tile-link {
    background-color: $masonry-tile-link-bg;
    color: $white;

    span {
        @include center-align();
        display: block;
        width: 80%;
        font-family: $font-book;
        font-size: rem-calc(18);
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;

        @include min-screen($desktop) {
            font-size: rem-calc(22);
        }
    }
}

.masonry__image {
    position: relative;
    overflow: hidden;
    z-index: 0;

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $masonry-animation-transition;
    }

    &:hover {
        img {
            transform: $masonry-animation-transform;
        }
    }
}
