// Media styles
// -----------------------
.img--responsive {
    width: 100%;
    height: auto;
}

.img--blackbook-logo {
    max-width: 90%;
    margin-bottom: 30px ;

    @include min-screen($desktop-medium) {
        margin-left: -30px;
    }
}
