// Owl carousel custom styling
// ---------------------------
.owl-dots {
    width: 80%;
    margin: 15px auto;
    text-align: center;

    @include min-screen($desktop) {
        margin-top: 25px;
    }
}

.owl-dot {
    display: inline-block;
    padding: 10px;

    span {
        @include square(10px);
        display: block;
        border-radius: 50%;
        background-color: $black;
    }

    &.active {
        span {
            background-color: $color-primary;
        }
    }
}

.owl-carousel {
    position: relative;
}

.owl-nav {
    position: absolute;
    bottom: 38px;
    width: 100%;

    @include min-screen($tablet) {
        display: none;
    }
}

%arrow-styles {
    position: absolute;
    padding: 10px 15px;
    background: rgba($black, .5);
    color: $white;
    font-size: rem-calc(12);
}

.owl-prev {
    @extend %arrow-styles;
    left: 0;
}

.owl-next {
    @extend %arrow-styles;
    right: 0;
}
