// Owl carousel custom styling
// ---------------------------
.owl-dots {
    margin-top: 5px;
    text-align: center;

    @include min-screen($tablet) {
        margin-top: 15px;
    }

    @include min-screen($desktop) {
        margin-top: 25px;
    }
}

.owl-dot {
    display: inline-block;
    padding: 10px;

    span {
        @include square(10px);
        display: block;
        border-radius: 50%;
        background-color: $black;
    }

    &.active {
        span {
            background-color: $color-primary;
        }
    }
}
