// Pagination styles
// -----------------
.pagination {
    a {
        color: $black;
        text-decoration: none;

        .is-desktop &:hover {
            text-decoration: underline;
        }
    }
}
