// Sections
// -----------
.section {
    margin: 50px 0;

    @include min-screen($tablet) {
        margin: 120px 0;
    }

    @include min-screen($desktop) {
        margin: 150px 0;
    }

    &.is-hidden {
        transform: translateY(125px);
        transition: $section-animation-transition;
        opacity: 0;

        @include min-screen($desktop) {
            transform: translateY(175px);
        }
    }

    &.is-revealed {
        transform: translateY(0);
        opacity: 1;
    }

    &.search-results {
        margin: 50px 0 70px;
    }
}

.section--small-space {
    margin: 30px 0;

    @include min-screen($tablet) {
        margin: 35px 0;
    }

    @include min-screen($desktop) {
        margin: 50px 0;
    }
}

.section--bottom-space {
    margin-bottom: 50px;

    @include min-screen($tablet) {
        margin-bottom: 120px;
    }

    @include min-screen($desktop) {
        margin-bottom: 150px;
    }
}

.section--top-small-space {
    margin-top: 40px;

    @include min-screen($tablet) {
        margin-top: 50px;
    }

    @include min-screen($desktop) {
        margin-top: 70px;
    }
}

.section__category {
    font-family: $font-caslon;
    font-size: $case-study-category-size;
    font-style: italic;

    span {
        color: $case-study-category-color;
    }
}

.section__title {
    font-family: $section-title-font;
    font-size: $section-title-size-mobile;
    letter-spacing: 3.5px;
    text-transform: uppercase;

    @include min-screen($desktop) {
        font-size: $section-title-size-desktop;
    }
}

.section__subtitle {
    font-family: $section-subtitle-font;
    font-size: $section-subtitle-size;
}

// Each homepage sections
// ----------------------
.magazine {
    @include background-cover('splash_bg.png', 80% 0, auto);
    margin-bottom: 0;

    @include min-screen($desktop) {
        padding: 100px 0 150px;
    }
}

.stay-in-touch {
    @include background-cover('stay-in-touch-background.png');
    min-height: 250px;
    margin: 0;
    padding: 30px 15px;
    color: $white;
    text-align: center;

    @include min-screen($tablet) {
        padding: 50px 15px;
    }

    // TODO: temporary solution
    h3 {
        letter-spacing: .2em;
    }

    p {
        font-family: $font-caslon;
        font-style: italic;
    }
}

// Search page
// ------------
.search-form {
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: $white;
}
