// Sections
// -----------
.section {
    margin: 150px 0;

    &.is-hidden {
        transform: $section-animation-transform;
        transition: $section-animation-transition;
        opacity: 0;
    }

    &.is-revealed {
        transform: translateY(0);
        opacity: 1;
    }

    &.stay-in-touch {
        min-height: 250px;
        margin-bottom: 0;
        padding: 50px 15px;
        background-image: url('../images/stay-in-touch-background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: $white;
        text-align: center;

        // TODO: temporary solution
        p {
            font-family: $font-caslon;
            font-style: italic;
        }
    }
}

.section__category {
    font-family: $font-caslon;
    font-size: $case-study-category-size;
    font-style: italic;

    span {
        color: $case-study-category-color;
    }
}

.section__title {
    font-family: $section-title-font;
    font-size: $section-title-size;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.section__subtitle {
    font-family: $section-subtitle-font;
    font-size: $section-subtitle-size;
}
