// Select2 custom styles
// ----------------------
.select2-container {
    width: 100% !important;
    margin-bottom: $search-form-space-ratio;
    outline: 0;
    color: $black;
    font-family: $font-light;
    font-size: $search-form-font-size;
    text-transform: uppercase;

    .select2-selection--single .select2-selection__rendered {
        padding-left: 10px;
    }
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-radius: 0;
    background-color: $input-bg-color;
}

.select2-selection.select2-selection--single {
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    @include center-align();
    border-color: transparent;

    &::after {
        @include center-align();
        content: '\e902';
        color: $input-font-color;
        font-family: $font-icons;
    }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    @include center-align();
    border-color: transparent;

    &::after {
        content: '\e901';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -10%);
        color: $input-font-color;
        font-family: $font-icons;
    }
}

.select2-dropdown {
    background-color: rgba($white, .9);
}

.select2-container--default .select2-results__option--highlighted {
    background-color: rgba($input-bg-color, .5) !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $black;
}
