// Socials
// --------
.socials {
    margin: 15px auto 20px;

    @include min-screen($tablet) {
        margin: 15px 0 20px;
    }

    @include min-screen($desktop) {
        padding: 0 20px;
    }
}

.social__title {
    display: none;
    color: $color-primary;
    font-family: $font-caslon;
    font-size: rem-calc(16);
    vertical-align: top;

    @include min-screen($tablet) {
        display: inline-block;
        margin: 10px 10px 0 0;
    }
}

.socials__list {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    border: 2px solid $black;
}

.socials__list-item {
    display: inline-block;
    margin: 0 5px;

    a {
        display: inline-block;
        padding: 15px 10px;
        color: $black;
        text-decoration: none;
        cursor: pointer;
    }
}
