// Text/Paragraph styles
// --------------------
.text-description {
    columns: 2 300px;
    column-gap: 40px;
    font-family: $font-light;
    font-size: rem-calc(14);
    line-height: 1.8em;

    @include min-screen($tablet) {
        font-size: rem-calc(15);
    }

    @include min-screen($desktop) {
        font-size: rem-calc(16);
    }

    p:first-of-type {
        margin-top: 0;
    }

    a {
        color: $black;
        font-family: $font-heavy;
        text-decoration: none;
        white-space: nowrap;

        .is-desktop &:hover {
            text-decoration: underline;
        }
    }
}

.text-description--letter {
    &::first-letter {
        padding-right: 20px;
        float: left;
        font-size: rem-calc(74);
        line-height: 1em;

        @include min-screen($desktop) {
            font-size: rem-calc(84);
        }
    }
}

.text-description--single {
    columns: none;

    @include min-screen($tablet) {
        max-width: 70%;
    }

    @include min-screen($desktop) {
        max-width: 50%;
    }
}

.paragraph__address {
    margin: 20px 0;

    span {
        display: block;
    }

    a {
        color: inherit;
        font-weight: 700;
        text-decoration: none;

        .is-desktop &:hover {
            text-decoration: underline;
        }
    }
}
