// Animations
// -----------
@keyframes show {
    from {
        display: block;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        transform: rotate(0);
    }

    7% {
        transform: rotate(-13deg);
    }

    21% {
        transform: rotate(13deg);
    }

    28% {
        transform: rotate(0);
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(.4);
    }

    20% {
        transform: scaleY(1);
    }
}

@keyframes arrow-left-animation {
    0% {
        transform: translate(-30%, -50%) rotate(-135deg);
    }
    40% {
        transform: translate(-35%, -50%) rotate(-135deg);
    }
    80% {
        transform: translate(-25%, -50%) rotate(-135deg);
    }
    100% {
        transform: translate(-30%, -50%) rotate(-135deg);
    }
}

@keyframes arrow-right-animation {
    0% {
        transform: translate(-70%, -50%) rotate(45deg);
    }
    40% {
        transform: translate(-65%, -50%) rotate(45deg);
    }
    80% {
        transform: translate(-75%, -50%) rotate(45deg);
    }
    100% {
        transform: translate(-70%, -50%) rotate(45deg);
    }
}

.animation--zoom {
    display: block;
    overflow: hidden;

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        height: auto;
        transition: $masonry-animation-transition;
    }
}
