*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-top: $nav-height;
    overflow-x: hidden;
    background-color: $body-bg-color;
    font-family: $base-font-family;

    &.static {
        overflow: hidden;
    }
}

main {
    overflow-x: hidden;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $container-padding;

    @include min-screen($desktop) {
        padding: $container-padding;
    }
}

.container--space {
    margin: 30px auto;
    padding: 0 20px;
}

.container--full {
    padding: 0;
}

.container--mobile-full {
    margin: 0 -20px;

    @include min-screen($tablet) {
        margin: 0 auto;
    }
}

.container--wide {
    max-width: $desktop-medium - 150;
}

.container--wider {
    @include min-screen($desktop-medium) {
        margin: 0 -50px;
    }
}

.bg--slant {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -1000px;
        right: 0;
        bottom: 25%;
        left: 0;
        background-color: $white;
        z-index: -1;

        @include min-screen($tablet) {
            bottom: 50%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 25%;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 220px solid $white;
        border-right: 1920px solid transparent;
        z-index: -1;

        @include min-screen($tablet) {
            top: 50%;
            border-top: 200px solid $white;
        }
    }
}
