*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-top: $nav-height;
    overflow-x: hidden;
    background-color: $body-bg-color;
    font-family: $base-font-family;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    overflow: hidden;

    @include min-screen($desktop) {
        padding: $container-padding;
    }
}
