*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-top: $nav-height;
    overflow-x: hidden;
    background-color: $body-bg-color;
    font-family: $base-font-family;

    &.static {
        overflow: hidden;
    }
}

main {
    overflow-x: hidden;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $container-padding;

    @include min-screen($desktop) {
        padding: $container-padding;
    }
}

.container--space {
    margin: 30px auto;
    padding: 0 20px;
}

.container--full {
    padding: 0;
}

.container--mobile-full {
    margin: 0 -20px;

    @include min-screen($tablet) {
        margin: 0 auto;
    }
}

.container--wide {
    max-width: $desktop-medium - 150;
}

.container--wider {
    @include min-screen($desktop-medium) {
        margin: 0 -50px;
    }
}

.bg--slant {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -1000px;
        right: 0;
        bottom: 25%;
        left: 0;
        background-color: $white;
        z-index: -1;

        @include min-screen($tablet) {
            bottom: 50%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 25%;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 220px solid $white;
        border-right: 1920px solid transparent;
        z-index: -1;

        @include min-screen($tablet) {
            top: 50%;
            border-top: 200px solid $white;
        }
    }
}

.background--skew {
    position: relative;
    z-index: 5;

    &:first-of-type {
        &::after {
            @include min-screen($desktop - 1) {
                top: -20%;
                height: 130%;
            }

            @include min-screen($desktop) {
                top: -27%;
                height: 135%;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: -6%;
        left: 0;
        width: 100%;
        height: 112%;
        transform: skewY(-3deg);
        background-color: $white;
        z-index: -1;

        @include min-screen($tablet) {
            top: -14%;
            height: 120%;
        }

        @include min-screen($desktop) {
            top: -22%;
            height: 136%;
        }
    }
}

.background--skew-half:first-of-type {
    &::after {
        height: 50%;

        @include min-screen($desktop) {
            top: -27%;
        }
    }
}

$pages: ('commercial', 'investment');

@each $page in $pages {
    .background--skew-#{$page}:first-of-type {
        &::after {
            @include background-cover('#{$page}_bg_phone.jpg');
            height: 90%;
            transform: skewY(-9deg);

            @include min-screen($tablet) {
                @include background-cover('#{$page}_bg_tablet.jpg');
                height: 100%;
            }

            @include min-screen($desktop) {
                @include background-cover('#{$page}_bg.jpg');
                height: 105%;
            }
        }
    }
}
