// Utilities
// ---------
.u--align-left {
    text-align: left;
}

.u--align-right {
    text-align: right;
}

.u--align-center {
    text-align: center;
}

.u--text-underline {
    text-decoration: underline;
}

.u--text-uppercase {
    text-transform: uppercase;
}

.u--clear-fix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.u--relative {
    position: relative;
}

.u--image-responsive {
    display: block;
    width: 100%;
    height: auto;
}
