// Footer styling
// ---------------
.footer {
    padding: 40px 0 20px;
    background-color: $footer-bg-color;
    color: $footer-color;
    font-family: $font-light;
    font-size: rem-calc(11);
    letter-spacing: .1em;

    @include min-screen($tablet-small) {
        padding: 50px 0;
    }
}

.footer__contact {
    padding: 30px 20px 0 30px;

    @include min-screen($tablet-small) {
        padding: 40px 20px 40px 30px;
    }
}

.footer--link {
    display: block;
    position: relative;
    margin: 4px 0;
    transition: color $standard-animation-time ease-in-out;
    color: $footer-color;
    text-decoration: none;

    &::before {
        position: absolute;
        left: -25px;
        transition: left $standard-animation-time ease-in-out;
        color: $color-primary;
        font-size: rem-calc(10);
    }
}

.footer__view-map {
    @extend .link--italic;
    display: inline-block;
    margin: 15px 0 0;
    padding: 0;
    color: $color-primary;

    &:hover {
        text-decoration: underline;
    }
}

a.footer--link:hover {
    color: $color-primary;

    &::before {
        left: -20px;
    }
}

.footer__address {
    &::before {
        content: 'A';
    }
}

.footer__email {
    &::before {
        content: 'E';
    }
}

.footer__telephone {
    &::before {
        content: 'T';
    }
}

.footer__logo {
    display: inline-block;
    color: $footer-color;
    font-size: rem-calc(16);
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;

    img {
        max-height: 52px;
        vertical-align: middle;
    }

    span {
        padding-left: 10px;
    }
}

.footer__copyright {
    margin-top: 40px;
    padding-right: 50px;
    color: $dark-gray;
    line-height: 1.5em;

    @include min-screen($tablet-small) {
        margin-top: 0;
    }
}

.footer__social {
    margin: 40px 0 0;

    @include min-screen($tablet-small) {
        margin: 0 0 30px;
    }

    @include min-screen($desktop) {
        margin: 0 0 50px;
    }

    .join-us__social + .join-us__social {
        margin-left: 0;
    }

    .join-us__social-link {
        @include min-screen($tablet-small) {
            padding: 7px 7px 5px;
            font-size: rem-calc(11);
        }
    }
}


// Go to top button
// ----------------
.btn-to-top {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 40px;
    width: 40px;
    min-height: 40px;
    padding: 5px 0;
    transition: opacity 350ms  ease;
    background-color: $color-primary;
    box-sizing: border-box;
    color: $color-primary;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    z-index: 130;

    &::after {
        content: '';
        position: absolute;
        top: 15px;
        left: 11px;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
        border-left: 10px solid transparent;
    }

    &.is-visible {
        opacity: 1;
    }
}
