// Header
// -------
.navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $nav-height;
    padding: 5px 0 3px;
    background-color: $nav-bg-color;
    z-index: 100;

    @include min-screen($desktop) {
        padding-bottom: 0;
    }

    nav {
        @include min-screen($desktop) {
            margin-top: -1px;
        }
    }
}

.navigation__brand-link {
    display: inline-block;
    margin-left: 15px;
    padding: 13px 0 13px 50px;
    background-image: url('../images/footer_logo.svg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 23%;
    color: $brand-link-color;
    font-size: $brand-link-size;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-primary {
    max-height: 0;
    transition: max-height $mobile-menu-up-animation ease;
    background-color: $nav-bg-color;
    overflow: hidden;

    @include min-screen($desktop) {
        transition: none;
        text-align: right;
        overflow: visible;
    }

    &.is-opened {
        max-height: 100vh;
        transition-duration: $mobile-menu-down-animation;
    }
}

.navigation-menu {
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;

    @include min-screen($desktop) {
        padding: 0;
        text-align: right;
    }

    li {
        position: relative;

        @include min-screen($desktop) {
            display: inline-block;
            position: static;
            margin: 0 7px;
            transition: border-bottom-color $standard-animation-time ease;
            border-bottom: 4px solid transparent;

            &:hover {
                border-bottom-color: $color-primary;
            }
        }

        @include min-screen($desktop-medium) {
            margin: 0 10px;
        }

        &.has-menu {
            cursor: pointer;

            &::after {
                @include css-triangle(5px, $menu-link-color, down);
                content: '';
                position: absolute;
                top: 15px;
                right: 0;

                @include min-screen($desktop) {
                    display: none;
                }
            }

            > a {
                pointer-events: none;
            }
        }

        &:hover {
            > a {
                color: $menu-link-color-hover;
            }
        }
    }

    > li {
        border-top: 1px solid rgba($white, .15);

        @include min-screen($desktop) {
            border-top: 0;
        }
    }

    > li.is-current {
        border-bottom-color: $color-primary;

        a {
            color: $color-primary;
        }
    }

    > li:nth-last-child(2) {
        &:hover {
            border-bottom-color: transparent;
        }

        > a {
            position: relative;

            &::after {
                content: '';
                display: none;
                position: absolute;
                top: -5px;
                right: -15px;
                bottom: -4px;
                left: -15px;
                transition: bottom $sub-menu-up-animation ease 100ms;
                border: 4px solid $color-primary;
                z-index: 1;

                @include min-screen($desktop) {
                    display: block;
                }
            }
        }
    }

    > li:last-child a {
        margin-top: 10px;
        color: $white;
        text-align: center;

        @include min-screen($desktop) {
            margin-top: 0;
            text-align: left;
        }
    }

    &.is-normal {
        > li:nth-last-child(2) > a {
            &::after {
                bottom: -41px;
            }
        }
    }

    a {
        display: block;
        padding: 14px 0;
        transition: color $standard-animation-time ease;
        color: $menu-link-color;
        font-size: rem-calc(13);
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase;

        @include min-screen($desktop) {
            display: block;
            padding: 16px 5px 15px;
            font-size: rem-calc(10);
        }

        &:hover {
            color: $menu-link-color-hover;
        }
    }

    .sub-menu {
        position: relative;
        list-style-type: none;
        max-height: 0;
        transition: max-height $sub-menu-up-animation ease;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: 15px;
            top: 10px;
            bottom: 10px;
            width: 3px;
            background-color: $color-primary;

            @include min-screen($desktop) {
                display: none;
            }
        }

        @include min-screen($desktop) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100vw;
            padding: 0;
            background-color: $submenu-bg-color;
            text-align: left;
        }

        &.is-opened {
            max-height: 350px;
            transition-duration: $sub-menu-down-animation;
            box-shadow: 5px 0 5px rgba($black, 0.2);

            @include min-screen($desktop) {
                max-height: 150px;
            }
        }

        li {
            a {
                @include min-screen($desktop) {
                    padding: 13px 0 10px;
                    color: $submenu-link-color;

                    &:hover {
                        color: $submenu-link-color-hover;
                    }
                }
            }
        }
    }
}

// Nav trigger
// ------------
.navigation__trigger {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 35px;
    height: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @include min-screen($desktop) {
        display: none;
    }

    span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        border-radius: 2px;
        background-color: $color-primary;
        opacity: 1;
    }

    span:nth-child(1) {
        top: 0;
        transform-origin: left center;
    }

    span:nth-child(2) {
        top: 10px;
        transform-origin: left center;
    }

    span:nth-child(3) {
        top: 20px;
        transform-origin: left center;
    }

    &.is-opened {
        span:nth-child(1) {
            top: 0;
            left: 6px;
            transform: rotate(45deg);
        }

        span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        span:nth-child(3) {
            top: 25px;
            left: 6px;
            transform: rotate(-45deg);
        }
    }
}

.menu-primary_navigation-container {
    @include min-screen($desktop) {
        display: inline-block;
    }
}
