// Canvas business directory styles
// -----------------------
.business-directory__item,
.business-directory__content {
    font-size: rem-calc(14);

    .section__category {
        margin-bottom: 0;
    }
}

.business-directory__item {
    margin: 8px 8px 30px;
    font-size: rem-calc(13);

    @include min-screen($tablet-small) {
        margin-bottom: 40px;
    }

    @include min-screen($desktop) {
        margin-bottom: 50px;
    }
}

.business-directory__list {
    margin: -8px;
}

.business-directory__description {
    font-family: $font-light;
}

.page-template-template-casestudy {
    background-image: url('../images/bg-paper.png');
}
