// Contact page styles
// --------------------
.contact-section {
    margin: 0;
    padding: 50px 0;

    @include min-screen($tablet) {
        padding: 90px 0;
    }

    @include min-screen($desktop) {
        padding: 100px 0;
    }
}

.contact__headline {
    font-size: rem-calc(52);
    letter-spacing: .3em;
}

.contact__info {
    display: inline-block;
    padding: 0 25px;
    font-family: $font-light;
    font-size: rem-calc(38);
    letter-spacing: normal;
    vertical-align: text-top;

    & + & {
        border-left: 3px solid $contact-time-color;
    }
}

.contact__weather {
    color: $color-primary;
}

.contact__time {
    color: $contact-time-color;
}

.contact__office {
    a {
        color: $purple;
    }

    &.active a {
        color: $color-primary;
    }
}

.contact__office-name {
    margin-bottom: 24px;
    font-family: $font-heavy;
    font-size: rem-calc(16);
    letter-spacing: .1em;
}

.contact__office-link {
    display: block;
    margin-bottom: 4px;
    color: $black;
    font-size: rem-calc(15);
    letter-spacing: .1em;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.contact__office-address {
    margin: 21px 0;
    font-family: $font-light;
    font-size: rem-calc(15);
    letter-spacing: .1em;
    line-height: 1.5;
}

.contact__map {
    @include min-screen($desktop) {
        height: 325px;
    }
}
